[submodule "src/nanopi/snmp-agent/mib"]
	path = src/nanopi/snmp-agent/mib
	url = https://github.com/epsilonrt/lpo-rouviere-mib.git
[submodule "src/nanopi/sms-server/gsmduino"]
	path = src/nanopi/sms-server/gsmduino
	url = https://github.com/epsilonrt/gsmduino.git
